:host {
  --sizer-width: 3rem;
  --sizer-height: 1rem;
  --row-height: 3rem;
  --max-height: 500px;
  --max-width: 400px;
  --comfortable-sizer: calc(2 * var(--sizer-width));
  --comfortable-height: calc(2 * var(--sizer-height));
  --row-headers-width: max(40px, var(--comfortable-sizer));
  --column-headers-height: max(var(--comfortable-height), var(--row-height));
  max-height: var(--max-height);
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
}

sg-frame {
  max-height: var(--max-height);
}

/* basic layout and scroll */
  /* .box */
    .box {
      position: relative;
      display: flex;
      scroll-snap-type: both mandatory;
      overflow: auto;
      width: 100%;
      height: 100%;
      scroll-padding: var(--column-headers-height) 0 0 var(--row-headers-width);
    }

  /* everything */
    * {
      box-sizing: border-box;
    }

  /* rows */
    tr {
      padding: 0;
      margin: 0;
      border: 0;
      height: var(--row-height);
    }

  /* cells */
    thead, th, .label {
      user-select: none;
      -webkit-user-select: none;
    }

    th, td {
      margin: 0;
      padding: 0;
      scroll-snap-align: start start;
      background: transparent;
    }

    table {
      background: white;
    }

  /* table extras (to organize */
    table, tr, th, td {
      border: 0;
      position: relative;
      box-sizing: border-box;
    }

    table {
      table-layout: fixed;
      width: 100%;
      height: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }

    table, th, td {
      border: 1px solid grey;
    }

    th.row, thead {
      position: sticky;
      background: azure;
      font-weight: bold;
      z-index: 2;
    }

    thead {
      top: 0;
    }

    th.row {
      left: 0;
    }

    tr.column {
      top: 0;
      z-index: 4;
    }

    th[scope="row"] {
      z-index: 1;
    }

    th.top-left, th[scope="col"] {
      z-index: 4;
    }

    col.row-header {
      width: var(--row-headers-width);
    }

/* column sizing */
  col {
    min-width: var(--row-headers-width);
  }

  .sizer {
    display: block; 
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: 30;
    background-color: transparent;
    scroll-snap-align: none none;
    margin: 0;
    padding: 0;
  }
  .column.sizer {
    height: 100%;
    width: var(--sizer-width);
    transform: translate(-50%, 0);
    cursor: ew-resize;
  }
  .row.sizer {
    height: var(--sizer-height);
    width: 100%;
    transform: translate(0, -50%);
    cursor: ns-resize;
  }

/* the adjustment bureau */
  :host([fill]) {
    --max-height: 100vh;
    --max-width: 100vw;
  }

  :host([fill]) * {
    margin: 0;
    padding: 0;
  }

  :host([fill]) table {
    border: 0;
    border-bottom: 1px solid grey;
  }

/* debug */
  :host([DEBUG]) .sizer {
    border: thin solid lime;
  }

/* focus */
  th:focus {
    outline: thin inset dodgerblue;
    background-color: lightskyblue;
  }

  col.selected, tr th:focus ~ td {
    background: lightskyblue;
  }

/* height */
  tr.column {
    height: var(--column-headers-height);
  }

  

