.box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.box label {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  max-width: calc(calc(100% - 1.5rem) / 2);
  justify-content: space-around;
}

.box span.relation {
  width: 1.5rem;
  text-align: center;
  margin-right: 0.25rem;
}

.box label input {
  max-width: 85%;
  margin-right: 0.5rem;
  text-align: right;
  letter-spacing: 1px;
}
