button, input, select, label {
  font: inherit;
  font-size: smaller;
  color: inherit;
}

button {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

button:active {
  background: linear-gradient(to bottom, lightskyblue, dodgerblue 25%, dodgerblue 75%, lightskyblue);
  outline: none;
  border-color: turquoise;
}

:disabled {
  opacity: 0.5;
}

button, label {
  user-select: none;
}
