<sg-frame state=${_self}>
  <form class=layout onsubmit="event.preventDefault();">
    <fieldset class=history>
      <button name=action value=undo onclick=Undo>Undo</button>
      <button name=action value=redo onclick=Redo>Redo</button>
    </fieldset>
    <fieldset class=canvas>${circles.map(({center,radius}) => {
      const [x,y] = center.split(',').map(a => parseFloat(a)*200);
      radius *= 200;
      return F`${{key:center}}
        <!sg-circle 
          oncontextmenu=OpenSizer
          style="left: ${x}px; top: ${y}px; --radius: ${radius}px;"/> 
      `;
    })}</fieldset>
  </form>
</sg-frame>
