:host {
  max-height: 50vh;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  --row-headers-width: 40px;
  --column-headers-height: 2rem;
}

sg-frame {
  max-height: 50vh;
}

/* basic layout and scroll */
  /* .box */
    .box {
      display: flex;
      scroll-snap-type: both mandatory;
      overflow: auto;
      width: 100%;
      height: 100%;
      scroll-padding: var(--column-headers-height) 0 0 var(--row-headers-width);
    }

  /* everything */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
    }

  /* rows */
    tr {
      padding: 0;
      margin: 0;
      border: 0;
      height: 2rem;
    }

  /* cells */
    th, td {
      position: relative;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      scroll-snap-align: start start;
    }

  /* table extras (to organize */
    table, tr, th, td {
      border: 0;
    }

    table {
      table-layout: fixed;
      width: 100%;
      height: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }

    tr {
      height: 2rem;
    }

    table, th, td {
      border: 1px solid grey;
    }

    tr {

    }


    th, .label {
      position: sticky;
      background: azure;
      font-weight: bold;
      z-index: 2;
    }

    th.row {
      left: 0;
    }

    tr.column {
      top: 0;
      z-index: 4;
      height: var(--column-headers-height);
    }

    th[scope="row"] {
      z-index: 1;
    }

    th.top-left, th[scope="col"] {
      z-index: 4;
    }

    th.top-left {
      z-index: 10;
      top: 0;
      left: 0;
    }

    col.row-header {
      width: var(--row-headers-width);
    }

/* column sizing */
  .column-sizer {
    display: block; 
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    transform: translate(33%, 0);
    border: thin solid lime;
    box-sizing: border-box;
    z-index: 20;
    background-color: transparent;
    cursor: ew-resize;
  }
